<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotbim" version="1.1.0" targetFramework="net472" />
  <package id="Grasshopper" version="7.32.23215.19001" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="RhinoCommon" version="7.32.23215.19001" targetFramework="net481" />
</packages>